*{
  margin: 0;
  padding: 0;
}

#navigatie{
  background: black;
  width: 100%;
  height: 50px;
  display: block;
}

.navigatie-objects{
  margin-right: 30px;
}

.navigatie-link{
  color: white;
  margin-top: 15px;
  float: right;
  display: block;
}

.navigatie-link a{
  color: white;
}

.footer{
  color: white;
  text-align: center;
  width: 100%;
  height: 150px;
  background: black;
}

.footer-text{
  position: relative;
  top: 40%;
}
